:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-grey-color: #f5f4fa;
  --background-color: #2f303a;
  --main-font: Roboto, sans-serif;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Остальной код */
/* --- LOGO --- */
.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}
.accent {
  color: var(--accent-color);
}

/* --- HEADER --- */

.nav-link {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.contacts-item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-block;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
/* HEADER END */
/* --- SECTION --- */
.section {
  width: 1600px;
  outline: 2px solid grey;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* --- BUTTON --- */
.modal-button {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-text {
  color: var(--primary-white-color);
}
.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
  opacity: 0.7;
}

.hero-section {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* --- FEATURES --- */
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* --- TEAM --- */
.team {
  background-color: var(--secondary-grey-color);
}
.team-card {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.card-description {
  color: var(--primary-text-color);
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* --- FOOTER --- */
/* --- GALLERY --- */
.gallery-btn {
  background: #f5f4fa;
  border-radius: 4px;
}
.gallery-btn:hover,
.gallery-btn:focus {
  color: var(--accent-color);
}
